[Desktop Entry]
Version=0.1
Name=Youdao Dict
Comment=Yodao Dict Linux Clone, Use Youdao Api.
Exec=youdao-dict
Icon=/usr/share/icons/hicolor/scalable/apps/youdao-dict-logo.png
Type=Application
Categories=Office;